* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html, body {
    height: 100%;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

header {
    padding: 20px 2% 35px 2%;
    height: 130px;
}

header .logo {
    float: left;
}

header nav.desktop {
    float: right;
    position: relative;
    top: 40px;
}

nav.mobile {
    display: none;
    float: right;
    width: 32px;
    height: 32px;
    background-size: 100% 100%;
    cursor: pointer;
    background-image: url('/images/icon_menu.png');
    margin-top: 40px;
}

nav.mobile ul {
    width: 100%;
    position: absolute;
    text-align: center;
    background-color: white;
    top: 108px;
    left: 0;
    z-index: 999;
    display: none;
}

nav.mobile li {
    font-size: 23px;
    padding: 20px 0;
    font-style: italic;
    list-style-type: none;
}

nav.mobile li a {
    text-decoration: none;
    color: black;
}

header nav.mobile a.active {
    color: #EB2D2D;
}

header nav.desktop ul {
    list-style-type: none;
}

header nav.desktop ul li {
    float: left;
    font-size: 23px;
    padding: 0 30px;
    font-style: italic;
}

header nav.desktop a {
    color: black;
    text-decoration: none;
}

header nav.desktop a.active {
    color: #EB2D2D;
}

section.banner {
    overflow: hidden;
    width: 100%;
    height: 650px;
    background-color: black;
    background-image: url('/images/bg.jpg');
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
}

.text-banner {
    padding: 100px;
}

.text-banner-single {
    margin-top: 20px;
    width: 314px;
    height: 50px;
    padding: 12px 30px;
    background-image: url('/images/box-text.png');
    background-size: 100% 100%;
    color: white;
    font-size: 23px;
    text-transform: uppercase;
    font-style: italic;
}

.text-banner .text-banner-single:nth-of-type(2) {
    width: 200px;
    position: relative;
    left: -10px;
    height: 50px;
}

.text-banner .text-banner-single:nth-of-type(3) {
    width: 170px;
    position: relative;
    left: -20px;
    height: 50px;
    font-size: 21px;
}

.text-banner .text-banner-single:nth-of-type(4) {
    width: 320px;
    height: 50px;
    background-image: url('/images/box-white-text.png');
    color: black;
    position: relative;
    left: -30px;
}

section.highlight-vehicles {
    padding: 90px 2%;
}

.title-line {
    position: relative;
    text-align: center;
    max-width: 1400px;
    margin: 0 auto;
}

.line1 {
    position: absolute;
    height: 2px;
    background: black;
    width: 100%;
    top: 20px;
}

.title-line h2 {
    text-align: center;
    font-size: 27px;
    font-style: italic;
    text-transform: uppercase;
    position: relative;
    background: white;
    display: inline-block;
    padding: 0 20px;
    
}

section.highlight-vehicles .container {
    max-width: 1000px;
    padding: 40px 0;
}

.highlight-showcase {
    float: left;
    width: 33.3%;
}

.highlight-showcase .car-img {
    background-image: url('/images/carro1.jpg');
    width: 100%;
    padding-top: 100%;
    background-size: 100% 100%;
    border: 8px solid white;
}

.highlight-showcase h2 {
    padding-left: 8px;
    color: black;
    font-style: italic;
    font-size: 20px;
}

.highlight-showcase p {
    padding-left: 8px;
    color: #353535;
    font-size: 15px;
    font-style: italic;
    padding-top: 8px;
}

.btn1 {
    text-align: center;
    display: block;
    line-height: 40px;
    background-color: #EB2D2D;
    text-decoration: none;
    border-bottom: 5px solid #B21E1E;
    color: white;
    font-size: 16px;
    font-style: italic;
    width: 150px;
}

.highlight-showcase a {
    margin-left: 8px;
    margin-top: 10px;
}

.services-description {
    display: flex;
}

.half1 {
    width: 50%;
    padding: 90px 0;
    background: #242424;
    color: white;
    text-align: right;
}

.half1-wrapper {
    display: inline-block;
    text-align: left;
    padding-right: 30%;
}

.half1-wrapper h2 {
    font-weight: normal;
    font-style: italic;
    font-size: 32px;
}

.half1-wrapper ul {
    margin-top: 20px;
    display: inline-block;
}

.half1-wrapper li {
    margin-left: 15px;
}

.half1-wrapper a {
    margin-top: 20px;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 40px;
}

.half2 {
    width: 50%;
    padding: 90px 100px;
    background: #EB2D2D;
    color: white;
}

.half2 h2 {
    font-weight: normal;
    font-style: italic;
    font-size: 32px;
}

.half2 .review-single {
    margin-top: 19px;
}

.review-single p {
    font-size: 22px;
}

.arrows {
    float: left;
}

.navigation {
    margin-top: 30px;
    float: left;
    width: 100%;
    max-width: 700px;
}

.navigation img {
    margin: 0 20px;
    cursor: pointer;
}

.name-review {
    float: right;
    color: #252525;
    font-size: 23px;
}

section.contact {
    padding: 80px 2%;
}

section.contact form {
    max-width: 600px;
    margin: 50px auto;
}

section.contact .input-wrapper {
    float: left;
    padding: 10px;
    margin-top: 7px;
}

section.contact input[type=text], section.contact input[type=email], section.contact input[type=tel], section.contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
}

section.contact textarea {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 8px;
}

section.contact form .input-wrapper:nth-of-type(5) {
    text-align: center;
}

section.contact input[type=submit]  {
    border-right: 0;
    border-left: 0;
    border-top: 0;
    cursor: pointer;
    display: inline-block;
}

.w100 {
    width: 100%;
}

.w50 {
    width: 50%;
}

footer {
    padding: 40px 2%;
    background: #252525;
}

footer nav {
    float: left;
}

footer nav ul {
    list-style-type: none;
}

footer nav ul li {
    float: left;
    font-size: 19px;
    font-style: italic;
    padding: 0 35px;
}

footer nav ul a {
    color: white;
    text-decoration: none;
}

footer nav a.active {
    color: #EB2D2D;
}

footer p {
    float: right;
    color: white;
    font-size: 19px;
    font-style: italic;
}

/* Sales Page */
section.sale {
    min-height: 90%;
    padding: 90px 0;
}

.sale-content {
    margin-top: 40px;
}

.sidebar {
    float: left;
    width: 30%;
}

.search1 {
    width: 90%;
}

.search1 h2 {
    font-size: 24px;
    color: black;
    font-weight: normal;
}

.search1 .price-bar {
    width: 100%;
    height: 20px;
    background: white;
    margin-top: 8px;
    border-radius: 20px;
    border: 1px solid #ccc;
    position: relative;
}

.price-bar-fill {
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    height: 20px;
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(200, 200, 200));
    border-radius: 20px;
}

.bar-pointer {
    width: 26px;
    height: 26px;
    border-radius: 8px;
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(180, 180, 180));
    border: 1px solid #777;
    position: absolute;
    left: calc(30% - 13px);
    top: -3px;
    cursor: pointer;
}

.search-value {
    margin-top: 8px;
}

.search-value p {
    color: black;
    font-size: 15px;
}

.search-value p:nth-of-type(1) {
    float: left;
}

.search-value p:nth-of-type(2) {
    float: right;
}

.search2 {
    margin-top: 40px;
}

.search2 h2 {
    font-size: 24px;
    color: black;
    font-weight: normal;
}

.sale-form-wrapper {
    margin-top: 10px;
}

.sale-form-wrapper input[type=checkbox] {
    display: none;
}

.sale-form-wrapper label {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    vertical-align: top;
    cursor: pointer;
    position: relative;
}

.circle {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: black;
    position: absolute;
    left: 6px;
    top: 6px;
    display: none;
}

.sale-form-wrapper input[type=checkbox]:checked + label > .circle {
    display: block;
}

.sale-form-wrapper span {
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
}

.showcase-sale {
    float: left;
    width: 70%;
}

.showcase-sale .highlight-showcase {
    margin-top: 20px;
}

section.sales-single {
    padding: 0 2%;
}

section.sales-single .container {
    padding: 40px 0;
    max-width: 1280px;
}

.vehicle-info {
    float: left;
    width: 60%;
}

.highlight-photo {
    width: 100%;
    padding-top: 30%;
    background-position: center;
    background-size: contain;
    background-image: url('/images/carro1.jpg');
    background-repeat: no-repeat;
}

.vehicle-description {
    float: left;
    width: 40%;
    padding: 20px;
}

.vehicle-description p {
    max-width: 360px;
    margin-top: 25px;
}

.vehicle-description a {
    margin-top: 25px;
}

.gallery-nav {
    width: 100%;
    margin-top: 50%;
    overflow: hidden;
}

.gallery-nav-wrapper {
    width: 200%;
}

.mini-img {
    float: left;
    width: calc(33.3% * (100 / 200));
    padding-top: calc(33.3% * (100 / 200) * 0.4);
    background-position: center;
    background-size: cover;
    border: 4px solid white;
}

/* Media Queries */
@media screen and (max-width: 1400px) {
    section.banner {
        background-size: 90% auto;
        background-position: 200% 100%;
    }
}

@media screen and (max-width: 1100px) {
    .half1 {
        text-align: center;
    }

    .half1-wrapper {
        text-align: left;
        padding-right: 0;
    }

    .half1-wrapper a {
        display: inline-block;
        margin-left: 0;
        margin-top: 15px;
    }

    .half1-wrapper {
        padding-right: 0;
        text-align: left;
    }


    .half1-wrapper a {
        display: inline-block;
        margin-left: 0;
        margin-top: 15px;
    }
}

@media screen and (max-width: 1024px) {
    section.banner {
        background-size: cover;
        background-position: center;
        height: 70vw;
        min-height: 500px;
    }
}

@media screen and (max-width: 850px) {
    .half1-wrapper a {
        display: block;
        margin-left: 0;
        margin-top: 15px;
    }
}

@media screen and (max-width: 768px) {
    section.banner {
        background-size: cover;
        background-position: 100px center;
        height: 80vh;
    }

    nav.desktop {
        display: none;
    }

    nav.mobile {
        display: block;
    }

    section.services-description {
        flex-direction: column;
    }

    .half1, .half2 {
        width: 100%;
        padding: 80px 4%;
    }

    .half1 {
        text-align: center;
    }

    .w50 {
        width: 100%;
    }

    .sidebar {
        width: 100%;
        text-align: center;
    }

    .search1 {
        display: inline-block;
    }

    .search2 {
        text-align: left;
        display: inline-block;
    }

    .showcase-sale {
        float: left;
        width: 100%;
        text-align: center;
    }

    footer {
        text-align: center;
    }

    footer nav {
        display: none;  
    }

    footer p {
        float: none;
    }
}

@media screen and (max-width: 720px) {
    nav.desktop {
        display: none;
    }
}

@media screen and (max-width: 580px) {
    .text-banner {
        padding: 30px;
    }

    .text-banner-single {
        font-size: 18px;
    }

    section.highlight-vehicles .container {
        text-align: center;
    }

    .highlight-showcase {
        float: none;
        width: 80%;
        display: inline-block;
        margin-top: 20px;
    }

    .highlight-showcase a {
        display: inline-block;
    }

    section.highlight-vehicles .title-line h2 {
        font-size: 23px;
    }
}

@media screen and (max-width: 480px) {
    .highlight-showcase {
        width: 100%;
    }
}