* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
}

.center {
    width: 1280px;
    margin: 0 auto;
    background: gray;
    padding: 30px;
    box-sizing: border-box;
}

.article {
    margin-right: 10px;
    margin-left: 10px;
}