* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.sidemenu {
    width: 200px;
    height: 100%;
    background: gray;
}

.sidemenu > .menu_item > a {
    text-decoration: none;
    color: white;
}

.menu_item:hover .submenu {
    display: block;
}

.menu_item {
    position: relative;
}

.menu_item a {
    display: block;
    padding: 10px 15px;
}

.submenu {
    display: none;
    position: absolute;
    min-width: 105px;
    padding: 8px 12px;
    background: #ccc;
    left: 180px;
    top: 0;
    z-index: 1;
}

.submenu > a {
    text-decoration: none;
    color: black;
}