* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: 500px;
    width: 500px;
    filter: blur(2px) grayscale(100%);
    -webkit-filter: blur(2px) grayscale(100%) drop-shadow(8px 8px 10px rgb(10,10,10));
}