nav ul a, nav.brand-logo {
    color: white;
}

.section_1 {
    min-height: 400px;
    position: relative;
}

.form_container {
    background: white;
    padding: 15px 2%;
    max-width: 700px;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
}

.custom_title {
    position: relative;
}

.custom_title h2{
    font-size: 30px;
    color: #777;
    z-index: 2;
    background: white;
    position: relative;
    display: inline-block;
    padding-right: 10px;
}

.custom_title > div {
    width: 100%;
    position: absolute;
    height: 3px;
    background: #777;
    left: 0;
    top: 50px;
    z-index: 1;
}