nav ul a, nav.brand-logo {
    color: white;
}

.section_1 {
    min-height: 400px;
    position: relative;
}

.form_container {
    background: white;
    padding: 15px 2%;
    max-width: 700px;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
}