* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.bg {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    /* Background */
    background-image: url('../background/images/licensed-image.jpeg');
    background-size: 100% auto; 
    background-repeat: no-repeat;
}