* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

header {
    background: rgb(180, 180, 180);
    padding: 10px 2% 40px 2%;
}

.logo-1 {
    float: left;
    width: 150px;
    height: 60px;
    background-image: url('../images/logo1.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
} 

.logo-2 {
    float: right;
    width: 160px;
    height: 60px;
    background-image: url('../images/logo2.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}

section.cover-form {
    width: 100%;
}

.bg {
    background-image: url('../images/bg-form.jpg');
    background-size: cover;
    background-position: center;
    height: 560px;
    position: relative;
}

.form-container {
    position: absolute;
    right: 30px;
    top: -2.5%;
    width: 400px;
    height: 105%;
    background: white;
    box-shadow: 1px 1px 2px 1px rgb(180, 180, 180);
}

.form-container h2 {
    text-transform: uppercase;
    background: rgb(210, 210, 210);
    padding: 25px 15px;
    font-size: 18px;
    font-weight: normal;
}

.form-container form {
    margin-top: 8px;
    padding: 15px 15px;
}

.form-container form p {
    font-size: 14px;
    color: #525252;
}

.form-wrapper:not(:first-child) {
    margin-top: 20px;
}

.form-wrapper:last-child {
    margin-top: 20px;
}

.form-container form input[type=text] {
    width: 100%;
    border: 1px solid #ccc;
    height: 45px;
    line-height: 45px;
    padding-left: 10px;
}

.form-container form input[type=submit] {
    background: #033C50;
    text-transform: uppercase;
    color: white;
    width: 100%;
    font-size: 25px;
    height: 50px;
    cursor: pointer;
    border: 0;
}

section.call {
    text-align: center;
    width: 100%;
    z-index: 1;
}

section.call div.container {
    background: #29526d;
    padding: 70px 0 50px 0;
}

section.call h2 {
    width: 98%;
    max-width: 700px;
    display: inline-block;
    color: white;
    font-size: 24px;
    font-weight: normal;
}

section.call p {
    width: 98%;
    max-width: 700px;
    display: inline-block;
    color: white;
    margin-top: 10px;
    font-size: 18px;
    font-weight: normal;
}

.flex-mosaic {
    display: flex;
}

.item-1-mosaic {
    background-position: center;
    background-size: cover;
    width: 60%;
    height: 300px;
}

.item-2-mosaic {
    width: 40%;
    padding: 45px 40px;
    background: #4683ab;
}

.item-2-mosaic p {
    color: white;
}

footer {
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin-top: 8px;
}

footer img {
    width: 120px;
}

@media screen and (max-width: 768px) {
    .flex-mosaic {
        display: block;
    }
    
    .item-1-mosaic {
        padding-top: 80%;
        width: 100%;
    }

    .item-2-mosaic {
        text-align: justify;
        width: 100%;
    }
}

@media screen and (max-width: 960px) {
    .bg {
        text-align: center;
        padding: 40px 0;
        height: auto;
    }

    .form-container {
        width: 96%;
        max-width: 400px;
        height: auto;
        position: static;
        display: inline-block;
    }
}

@media screen and (max-width: 510px) {
    header {
        text-align: center;
    }
    
    [class^="logo"]{
        float: none;
        display: inline-block;
        margin-top: 10px;
    }
}